.about__section {
  width: 100%;
  min-height: 100vh;
  margin-top: 130px;
  display: flex;
  gap: 5rem;
}

.about__section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--sizes--size-12);
  color: white;
  text-align: justify;
}
#about__me {
  width: 90%;
}

#curriculum__vita {
  display: flex;
  text-align: center;
  color: rgb(25, 79, 255);
}

.about__section img {
  width: 60%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about__section img {
    margin-top: 10rem;
    height: 50%;
    width: 30%;
  }
  .about__section {
    gap: 0;
    height: auto;
    min-height: auto;
  }
}

@media (max-width: 480px) {
  .about__section {
    flex-direction: column-reverse;
    font-size: var(--sizes--size-8);
    gap: auto;
    margin-top: auto;
    height: auto;
    min-height: auto;
  }

  #about__me,
  .about__section img {
    width: auto;
  }

  .about__section div {
    padding: 1rem;
  }
}
